<ion-view>
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1>
   </ion-header-bar>
  <ion-content>
  <div class="logoContainer">
  <img src="img/citi.png" class="centredisplay">
  </div>
  <div class="logoContainer">
    <form ng-submit="doLogin(loginData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    </div>
   </ion-content>-->
   <ion-content scroll="false" class="landing-options">
      <div class="row row-line">
          <div class="col" ng-click="getApplicationConfiguration()">

              <img src="img/cnb_logo.png" class="centredisplay">
              <div class="padding-top text-display" align="center">Control and Break <br/> Dashboard</div>
              <div class="padding-top text-display" align="center"><span style="font-size:10px;">Tap to Continue</span></div>
              <div class="padding-top text-display" align="center"><span style="font-size:10px;padding-top:10px;">V 0.10</span></div>
          </div>
      </div>
    </ion-content>
</ion-view>
