<ion-view>
   <ion-content scroll="false" class="iphone landing-options">
       <div class="row">
           <div class="col" align="right" style="padding-top: 15px;"><img src="img/citi-logo.png" height="50px;"></div>
       </div>
    <div class="row row-line">
          <div class="col" ng-click="getApplicationConfiguration()">
              <img src="img/cnb_logo.png" class="centredisplay">
              <div class="padding-top text-display" align="center">Control and Break <br/> Dashboard</div>
              <div class="padding-top text-display" align="center"><span style="font-size:18px;font-weight:600;">Tap to Continue</span></div>
          </div>
      </div>
    <div class="row">
        <div class="col" align="right" style="margin-top: -18px;"><span style="font-size:10px;color:white;">V 1.0</span></div>
    </div>

    </ion-content>
</ion-view>
