<ion-view>
    <ion-content scroll="false" >
	    <div class="row">
			<div class="col">
	            <canvas id='signatureCanvas'  style='border: 1px solid black;width:100%;height:100%'></canvas>
	          	<div class='button-bar'>
	            	<a class='button button-positive' ng-click='closeSignPopup()'>Close</a>
	            	<a class='button button-positive' ng-click='clearCanvas()'>Clear</a>
	              	<a class='button button-positive' ng-click='saveCanvas()'>Save</a>
	          	</div> 
	        </div>
		</div> 
    </ion-content>
</ion-view>

