<ion-view view-title="Bulk Signoff">
    <ion-nav-buttons side="secondary">
        <button class="signoff button button-balanced" ng-click="goSignOff($event)">Sign Off</button>
        <button class="button button-icon button-clear ion-gear-a menu-icon" menu-toggle="right" style="margin: 5px 0px 0px 15px;" ></button>
    </ion-nav-buttons>
    <ion-content class="details-list" >
    <ion-list can-swipe="true" >
        <ion-item class="list-table-header">
            <div class="row">
                <div class="col col-5">&nbsp;</div>
                <div class="col col-20" style="white-space:initial;" align="left">REPORT</div>
                <div class="col col-15" style="white-space:initial;" align="left">DESK</div>
                <div class="col col-15" style="white-space:initial;" align="left">UNCOMMENTED RED ITEMS</div>
                <div class="col col-15" align="left">EXCEPTIONS PROFILE</div>
                <div class="col col-15" align="left">TOTAL EXCEPTIONS</div>
                <div class="col col-15" style="white-space:initial;" align="left">SUMMARY COMMENTS</div>
            </div>
        </ion-item>
       
        <ion-item ng-repeat="playlist in playlists" class="item-details-list">
              
              <div class="row responsive-sm">
                  <div class="col col-5"><ion-checkbox class="signoff-check" ng-disabled="playlist.checkboxDisabled"  ng-model="playlist.checkboxStatus" style="width:35px;height:35px">&nbsp;</ion-checkbox></div>
                  <div class="col col-20" style="white-space:initial;">{{playlist.ReportName}}</div>
                  <div class="col col-15" style="white-space:initial;">{{playlist.vcrDesc}}</div>
                  <div class="col col-10 signoff-status status-commentary">
                      <progress max="{{playlist.redTotal}}" value="{{playlist.redUncommentedCount}}"> </progress>
                  </div>
                  <div class="col col-5 exceptions" >{{playlist.redUncommentedCount}} / {{playlist.redTotal}}</div>
                  <div class="col col-15 profile-exceptions">
                      <span>{{playlist.greenTotal}}</span>
                      <span>{{playlist.amberTotal}}</span>
                      <span>{{playlist.redTotal}}</span>
                  </div>
                  <div class="col col-15 total-report-count" align="center">
                    <span>{{parseInt(playlist.greenTotal) + parseInt(playlist.amberTotal) + parseInt(playlist.redTotal)}}</span>
                  </div>
                  <div class="col col-15" style="white-space:initial;" align="left">{{playlist.SummaryComments}}</div>
              </div>
              <ion-option-button class="button-calm" ng-click="showDetailsPopup($event, playlist.intCatDeskId)">View Details</ion-option-button>
      </ion-item>
    </ion-list>
    
    </ion-content>
</ion-view>

<script id="signoff-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar align-title="left"> 
            <h1 class="title">Signoff Comments</h1>
            <div class="buttons">
                <button class="button button-positive" ng-click="commentsDone(textcomments)">Done</button>
            </div>
        </ion-header-bar> 
        <ion-content>
            <textarea class="textAreaComments text-area-inputs" ng-model="popover.textcomments" placeholder="500 chars max" ></textarea> 
        </ion-content>
    </ion-popover-view>
</script>