<ion-view view-title="Settings">
  	<ion-content>
		<h2>Settings</h2>
	    <!--<ion-list>
	    	<ion-item class="item-toggle">
	    		Enable Signature
			    <label class="toggle toggle-assertive">
			    <input type="checkbox" ng-model="signEnabled" ng-change="createSignModal(signEnabled)">
		       	<div class="track">
		        	<div class="handle"></div>
		       	</div>
	    	</ion-item>
		</ion-list>
    	<img width="100px" height="100px" ng-src='{{signature}}'/>-->
  	</ion-content>
</ion-view>
