<ion-view view-title="Manager Attestation">
	<ion-nav-buttons side="secondary">
        <button class="signoff button button-balanced" ng-click="goToSubmitForm($event)" align="left">Sign Off</button>
        <button class="button button-icon button-clear ion-gear-a menu-icon" style="margin: 5px 0px 0px 15px;"  menu-toggle="right"></button>
    </ion-nav-buttons>
	<ion-content class="iphone attestation" delegate-handle="control-question" >
		<ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="callLocalOrService(isService,'FILTER')">
	  </ion-refresher>
		<ion-list can-swipe="true" >
			<div class="row" ng-show="noCategoryData" >
	  	 		<div class="col" align="center">No data available</div>
	  	 	</div>
			<div ng-repeat="item in listData" ng-show="!noCategoryData" >
		  	 	<ion-item class="item-divider item-static item item-icon-right" ng-class="{active: isGroupShown(item)}" ng-click="toggleGroup(item)">
<!--		  	 		<i class="icon icon-logo ion-information-circled"></i>-->
		  	 		{{item.categoryName}} 
		  	 		<i class="icon " ng-class="isGroupShown(item) ? 'ion-chevron-down' : 'ion-chevron-right'" ></i>
		  	 	</ion-item>
		  	 	<ion-item ng-repeat="list in item.records" ng-show="isGroupShown(item)" class="item-data-list">
		  	 		<div class="row row-phone">
						<div class="col col-10">
							<ion-checkbox class="signoff-check {{list.checkboxClass}}" ng-disabled="true" ng-model="playlist.checkboxStatus" style="width:50px;height:35px;padding-left:0px;border:none;left: -18px;">&nbsp;</ion-checkbox>
						</div>
						<div class="col col-90">
							<div class="row row-phone" ng-if="list.vcrComments != 'Total'" >
								<div class="col secondary-label">Report Category</div>
								<div class="col secondary-content" align="right">{{list.reportDate}}</div>
							</div>
							<div class="row row-phone" ng-if="list.vcrComments != 'Total'" >
								<div class="col secondary-content">{{list.vcrReportCat}}</div>
							</div>
							<div class="row row-phone" ng-if="list.vcrComments != 'Total'" >
								<div class="col secondary-label">Report Name</div>
								<div class="col secondary-label"  align="right" >Exceptions Profile</div>
							</div>
							<div class="row row-phone" ng-if="list.vcrComments != 'Total'" >
								<div class="col secondary-content with-wrapper padding-top">{{list.vcrReportName}}</div>
								<div class="col profile-exceptions bulksignoff" align="right">
									<span style="width:{{list.exceptionWidth}}px">{{list.greenTotal}}</span>
									<span style="width:{{list.exceptionWidth}}px">{{list.amberTotal}}</span>
									<span style="width:{{list.exceptionWidth}}px">{{list.redTotal}}</span>
								</div>
							</div>
							<div class="row row-phone" ng-if="list.vcrComments != 'Total'" >
								<div class="col secondary-content"><span class="secondary-label">Summary comments:</span> {{list.vcrComments}}</div>
							</div>
						</div>
					</div>
		  	 		<ion-option-button class="button-calm" ng-click="showDetailsPopup($event, list.deskId, list.reportId,list.reportDate)">View Details</ion-option-button>
				</ion-item>
			</div>
			<div class="list"  id="cQuestions" ng-show="!noCategoryData" >
			  <ion-item class="item-divider item-static item item-icon-left">
			  	<i class="icon icon-logo ion-help-circled"></i>
			  	Control Questions
			  </ion-item>
			  <label class="item item-input item-stacked-label padding-right label-wrapper">
			    <span class="input-label">Are there any new business related issues?</span>
			    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrNewBusinessRltdIssues' class="text-area-inputs"></textarea>
			  </label>
			  <label class="item item-input item-stacked-label padding-right label-wrapper">
			    <span class="input-label">Are there any key processes supported by non mainstream applications?</span>
			    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrKeyprocessnonMainStream' class="text-area-inputs" ></textarea>
			  </label>
			  <label class="item item-input item-stacked-label padding-right label-wrapper">
			    <span class="input-label">Have there been any loses / incident where there is a potential exposure to firm?</span>
			    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrPotentialExpToFirm' class="text-area-inputs" ></textarea>
			  </label>
			  <label class="item item-input item-stacked-label padding-right label-wrapper">
			    <span class="input-label">Have there been any significant trade capture, P+L or risk issues that have not been communicated to senior management?</span>
			    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrIssuesCommToSnr' class="text-area-inputs" ></textarea>
			  </label>
			  <label class="item item-input item-stacked-label padding-right label-wrapper">
			    <span class="input-label">Have there been or are there any other concern and issues?</span>
			    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrConcerns' class="text-area-inputs" ></textarea>
			  </label>
			  <label class="item item-input item-stacked-label padding-right label-wrapper">
			    <span class="input-label">Audit item:</span>
			    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrAuditItem' class="text-area-inputs"></textarea>
			</label>
				<label class="item item-input item-stacked-label padding-right label-wrapper">
						    <span class="input-label">Assigned item:</span>
						    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrAssignedTo' class="text-area-inputs"></textarea>
						</label>
				<label class="item item-input item-stacked-label padding-right label-wrapper">
						    <span class="input-label">Summary:</span>
						    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrSummary' class="text-area-inputs"></textarea>
						</label>
				<label class="item item-input item-stacked-label padding-right label-wrapper">
						    <span class="input-label">Due Date:</span>
						    <textarea ng-readonly="true" ng-model='attestationControlQuestions.vcrDueDate' ng-click="disableButtonSubmit || showDueDatePicker()" class="text-area-inputs"></textarea>
						</label>
				<label class="item item-input item-stacked-label padding-right label-wrapper">
						    <span class="input-label">Corrective Action Summary:</span>
						    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrCorrActionSummary' class="text-area-inputs"></textarea>
						</label>
				<label class="item item-input item-stacked-label padding-right label-wrapper">
						    <span class="input-label">Print Name:</span>
						    <textarea ng-readonly="disableButtonSubmit" ng-model='attestationControlQuestions.vcrprintName' class="text-area-inputs"></textarea>
						</label>
				<label class="item item-input item-stacked-label padding-right label-wrapper">
						    <span class="input-label">Date:</span>
						    <textarea ng-readonly="true" ng-click="disableButtonSubmit || showCurrDatePicker()" ng-model='attestationControlQuestions.vcrDate' class="text-area-inputs"></textarea>
						</label>
				<label class="item item-input item-stacked-label padding-right label-wrapper">
						    <span class="input-label">Signature:</span>
						    <textarea ng-readonly="disableButtonSubmit" ng-model ='attestationControlQuestions.vcrSignature' class="text-area-inputs"></textarea>
				</label>
				<!--
				<label class="item item-input item-stacked-label padding-right label-wrapper" ng-click="disableButtonSubmit || createSignModal(true)" >
					<span class="input-label"  >Add Signature</span>
					<div>
					<img width="100px" height="75px" ng-src='{{signature}}' src='{{signature}}' />
					</div>    
				</label>-->
			</div>
			<div class="padding" align="right" ng-show="!noCategoryData" >
				<button class="button" ng-disabled="disableButtonSubmit" ng-class="disableButtonSubmit ? 'button-disabled button-stable' : 'button-enabled button-positive'" ng-click="disableButtonSubmit || submitAttestationCtrlquestions()">
				  Submit
				</button>
			</div>
		</ion-list>
	</ion-content>
</ion-view>

<script id="signature-popover.html" type="text/ng-template">
    <ion-view>
        <ion-content scroll="false" >
		    <div class="row">
				<div class="col">
		            <canvas id='signatureCanvas'  style='border: 1px solid black;width:100%;height:100%'></canvas>
		          	<div class='button-bar'>
		            	<a class='button button-positive' ng-click='closeSignPopup()'>Close</a>
		            	<a class='button button-positive' ng-click='clearCanvas()'>Clear</a>
		              	<a class='button button-positive' ng-click='saveCanvas()'>Save</a>
		          	</div> 
		        </div>
			</div> 
        </ion-content>
    </ion-view>
</script>

