<ion-view view-title="Spike items in red">
	
  	<ion-content >
  		<ion-refresher pulling-text="Pull to refresh...">
		 </ion-refresher>
  		<ion-list can-swipe = "true">
  	 		<ion-item  class="item-data-list">
	  	 		<div class="row row-phone">
	  	 			<div class="col-75">
	  	 				<div class="deskSecondary-label">CGFI Cash</div>
	  	 			</div>
	  	 			<div class="col deskSecondary-label">
	  	 				<div>For NAM rates</div>
	  	 			</div>
	  	 		</div>
	  	 		<div class="row row-phone">
	  	 			<div class="col-75">
	  	 				<div class="deskSecondary-label">Yesterday #</div>
	  	 				<div>50</div>
	  	 			</div>
	  	 			<div class="col deskSecondary-label">
	  	 				<div>Today #</div>
	  	 				<div>100</div>
	  	 			</div>
	  	 		</div>
	  	 		<div class="row row-phone">
	  	 			<div class="col-75">
	  	 			<div class="row deskSecondary-label">% age change
	  	 			<progress class = "spikeProgress" max="100" value="80"></progress><span class="spiletext">70%</span></div>
	  	 				
	  	 			</div>
	  	 		</div>
	  	 		<ion-option-button class="spikeNotifyButton button button-energized" ">Notify</ion-option-button>
	  	 		
			 </ion-item> 
			 </ion-list>  
		
  	</ion-content>
  	
</ion-view>
